.song_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  transition: transform 1s ease-in-out;
  cursor: pointer;
  border: 0.15rem solid var(--color-text-poster);
  border-radius: 0.5rem;
  background-color: black;
}

.song_card:hover {
  transform: scale(1.01);
}
