.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  border-inline: 1px solid var(--color-border);
  padding-inline: clamp(0.5rem, 2vw, 2rem);
  width: 100%;
  max-width: 92rem;
}
