body {
  width: 100vw;
  height: 100vh;
}

body::before {
  position: fixed;
  transform: scale(1.2);
  z-index: -1;
  filter: grayscale(100%);
  transition: filter 30s ease;
  inset: 0;
  background-image: url("./assets/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
}

body:hover::before {
  filter: grayscale(0);
}
